body {
    margin: 60px auto;
    width: 70%;
}
#headwrap ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold; 
}
#navtitle {
  float:left;
}
#navmenu {
  float:right;
}
ul#navmenu li {
  margin-right: 20px;
  display: inline;
}
.pagetitle{
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    float: left;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
} 
#content a:link {
  color: #990000;
  background-color: transparent;
  text-decoration: none;
}

#content a:visited {
  color: #ffb3b3;
  background-color: transparent;
  text-decoration: none;
}

#content a:hover {
  background-color: transparent;
  text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold; 
}
#contact {
  float:left;
  margin-right: 30px;
}
#contact ul li {
  margin-right: 20px;
  vertical-align: middle;
}
#links {
  float:left;
  margin-left: 30px;
}
#links ul li {
  margin-right: 20px;
  vertical-align: middle;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
