<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div id = "headwrap" style="border-bottom: 1px solid #d5d5d5">
		<ul id = "navtitle">
			<li><a class = "pagetitle" href="/">Yaqiong Wang</a></li>
		</ul>
		<nav class = "nav">
    		<ul id = "navmenu">
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research/">Research</a></li>
        		<li><a href="/teaching/">Teaching</a></li>
                        <li><a href="https://www.scu.edu/media/leavey-school-of-business/isa/CV-Yaqiong-Wang.pdf">CV</a></li>
        		<li><a href="/blog/">Blog</a></li>
    		</ul>
		</nav>
		</div>
		<div class="container" style = "margin-bottom:20px; float: left">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul id = "contact">
			<li>Contact</li>
			<li>&nbsp;</li>
			<li>Leavey School of Business</li>
			<li>Lucas Hall, 500 El Camino Real</li>
			<li>Santa Clara, CA 95050</li>
			<li>Email: <a href="mailto:ywang31@scu.edu">ywang31[at]scu[dot]edu</a></li>
		</ul>
	        <ul id = "links">
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>Scholar Page: <a href="https://scholar.google.com/citations?hl=en&authuser=1&user=vK-I-esAAAAJ">Google Scholar</a></li>
			<li>SSRN Page: <a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=2905091">SSRN</a></li>
        		<li>Code: <a href="https://github.com/yaqiongwang">Github</a></li>
		</ul>
		</footer>
	</body>
</html>
